<!--locals: { :f => f }-->

<%= f.label :password_confirmation %>
<div class="input-wrapper">
  <%= f.password_field :password_confirmation,
                       required: true,
                       placeholder: "Confirm your new password",
                       pattern: :password,
                       class: "input-text"  %>
  <span class="focus-input" />
</div>