/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap";

// Global Variables
$header-height: 60px;
$footer-height: 60px;
$nav-menu-width: 250px;

// Breakpoints for screen sizes
@mixin for-phone-only {
  @media (min-width: 375px) { @content; }
}

@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
  @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

body {
  box-sizing: border-box;
  padding-top: $header-height;
  margin: 0px;
}

#page-header {
  background: white;
  position: fixed;
  height: $header-height;
  top: 0px;
  left: 0px;
  right: 0px;
}

#nav-menu {
  position: fixed;
  top: $header-height;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: $nav-menu-width;
}

#page-content {
  box-sizing: border-box;
  height: 100%;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;

  @include for-phone-only() {
    width: 375px;
  }

  @include for-tablet-portrait-up(){
    width: 600px;
  }

  @include for-tablet-landscape-up() {
    width: 900px;
  }

  @include for-desktop-up() {
    width: 1200px;
  }

  @include for-big-desktop-up() {
    width: 1400px;
  }
}
