/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap";

// Global Variables
$header-height: 60px;
$footer-height: 60px;
$nav-menu-width: 250px;

body {
  box-sizing: border-box;
  padding-top: $header-height;
  margin: 0px;
}

#page-header {
  background: white;
  position: fixed;
  height: $header-height;
  top: 0px;
  left: 0px;
  right: 0px;
}

#nav-menu {
  position: fixed;
  top: $header-height;
  bottom: 0px;
  left: 0px;
  height: 100%;
  width: $nav-menu-width;
}
