/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 */
 @import "bootstrap";

// Global Variables

// Sizing
$header-height: 70px;
$footer-height: 60px;
$nav-menu-width: 250px;
$cmac-logo-height: 50px;
$cmac-logo-width: 50px;
$nav-menu-control-height: 60px;
$nav-menu-control-width: 60px;
$nav-menu-item-height: 8vh;
$scroll-indicator-width-height: 24px;

// Colors
$primary-gradient: linear-gradient(90deg, rgba(235,51,73,1) 0%, rgba(244,92,67,1) 100%);

* {
  font-family: 'Avenir Next';
}

body {
  box-sizing: border-box;
  margin: 0px;
}

#page-header {
  position: fixed;
  height: $header-height;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

// Homepage
.masthead {
  height: 100vh;
  box-sizing: border-box;
  background: $primary-gradient;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
  padding-top: $header-height;
  .container {
    height: 100% !important;
    .row {
      align-items: center;
      justify-content: center;
      .col-12, .col-8 {
        button {
          color: white;
          background: none;
        }
      }
    }
  }
}

.divider {
  max-width: 4rem;
  border-width: 0.2rem;
  border-color: white;
}

.home-page-section {
  height: 100vh;
  padding-top: 10rem;
}

.scroll-indicator {
  position: absolute;
  top: 25px;
  left: 36%;
  width:  $scroll-indicator-width-height;
  height: $scroll-indicator-width-height;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  box-sizing: border-box;
  animation: scroll-indicator 1.5s infinite;
}

@keyframes scroll-indicator {
  0% {
    transform: rotate(45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(45deg) translate(15px, 15px);
    opacity: 0;
  }
}

// Miscellaneous
.icon-button {
  font-size: 100%;
  font-family: inherit;
  padding: 0px;
  border: 0px;
  &:focus {
    outline: none;
  }
}

.anchor-with-icon {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 100%;
  color: black;
  &:hover {
    text-decoration: none;
    color: black;
    background-color: darken(white, 30%);
  }
  i {
    margin-left: 20px;
    margin-right: 20px;
  }
}

.styleless-button {
  background: none;
	border: none;
	padding: 0;
	cursor: pointer;
  outline: none;
  &:focus {
    outline: none;
  }
}

.font-white {
  color: white;
}

.font-bold {
  font-weight: 700;
}

.font-light {
  font-weight: 300;
}

.text-uppercase {
  text-transform: uppercase;
}

.align-self-start {
  align-self: flex-start;
}

.align-self-end {
  align-self: flex-end;
}

.align-self-baseline {
  align-self: baseline;
}

.align-self-center {
  align-self: center;
}

.align-items-center {
  align-items: center;
}

// Breakpoints
@media only screen and (min-width: 1200px) {
  h1 {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 992px) {
  h1 {
    font-size: 2rem;
  }
}

@media only screen and (min-width: 768px) { 
  h1 {
    font-size: 3rem;
  }
  p, .styleless-button {
    font-size: 1rem;
  }
}

@media only screen and (max-width: 576px) { 
  h1 {
    font-size: 4rem;
  }
  p, .styleless-button {
    font-size: 1.75rem;
  }
}

